$font-menu: 'Roboto', sans-serif;
$font-contenido:'Open Sans', sans-serif;
$font-fechas:'Roboto Mono', monospace;
$font-h:'Open Sans', sans-serif;
$fontsize-14:14px;
$fontsize-h1:46px;
$fontsize-h2:24px;
$fontsize-18:18px;
$fontsize-16:16px;

nav{
  div{
    a{
      font-family: $font-menu;
      font-size: $fontsize-14;
    }
  }
}

h1{
  font-family: $font-h;
  font-size: $fontsize-h1;
}
h2{
  font-family: $font-h;
  font-size: $fontsize-h2;
}

p{
  font-family: $font-contenido;
  font-size: $fontsize-18;
  &.fecha{
    font-family: $font-fechas;
    font-size: $fontsize-14;
  }
}
